body {
   font-family: "Helvetica Neue", sans-serif;
   font-weight: 300;
}

.row.vdivide > [class*='col-']:not(:last-child):after {
  background: $border-divider;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

h1, h2{
  margin-bottom: 40px;
  color: $title-color;
}

#main{
  margin-top: 10%;
}

li > a, .navbar-default .navbar-brand{
  color: $link-color !important;
}

heart{
  color: $heart-color;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:65px;
   width:100%;
   background:$footer-color;
}
.credito{
  padding: 5px;
}
